<div class="row">
    <div class="col-xs-12">
      <img class="img-responsive" alt="{{recipe.name}}" [src]="recipe.imagePath" style="max-height: 200px">
    </div>
</div>
<div class="row">
  <div class="col-xs-12">
  <h1>name</h1>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Buy ingredients</a></li>
        <li><a href="#">Edit</a></li>
        <li><a href="#">Delete</a></li>
      </ul>
    </div>
    </div>
</div>
<div class="row">
<div class="col-xs-12">
  Description: {{recipe.description}}
</div>
</div>
<div class="row">
<div class="col-xs-12">
      Ingredients: woooo, what?
</div>
</div>